@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsansnarrow-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsansnarrow-700.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-extra-dark: #242424;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--basic-extra-dark);
}
